// app global css in SCSS form
.box-warp{
  display: grid;
  height: 10rem;
  gap: 1rem;
  margin: 1rem;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  img{
    width: 3rem;
    height: 3rem;
    margin: .5rem;
  }
  span{font-size: 1.3rem}
  button{
    background: #fff;
    border-radius: .7rem;
  }
}
.fun-warp{
  background: #fff;
  padding: 1.5rem;
  border-radius: .7rem;
  display: grid;
  gap: 1rem;
  margin: 1rem;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img{
    width:2rem;
    height: 2rem;
    margin-bottom: .5rem;
  }
}
